@import url("https://fonts.googleapis.com/css2?family=Zen+Antique+Soft&display=swap");

/* VARIABLES */

:root {
  --main-color: rgb(98, 89, 82);
}

/* GLOBAL & RESET */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: "Zen Antique Soft", serif;
  font-size: 10px;
  line-height: 1.6;
  background: #f4f4f4;
  color: #333;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/* FONT SIZES */

h1,
h2,
h3 {
  font-size: 3.8rem;
  font-weight: 800;
}

h4,
h5,
h6 {
  font-size: 3.2rem;
  font-weight: 600;
}

p {
  font-size: 2.4rem;
}
